/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Main */

:root {
  --theme-text-color: #333;
  --theme-text-color-light: #999;
  --theme-ash-color: #bbb;
  --theme-ash-color-light: #ddd;
  --theme-ash-color-extra-light: #eee;
  --theme-bg-color: #fff;
  --theme-primary-color: #9f7aea;
  --theme-primary-color-light: #b794f4;
  --theme-secondary-color: #ed64a6;
  --theme-secondary-color-light: #f687b3;

  --theme-font-family: "Roboto", sans-serif;
  --theme-font-size: 1rem;
  --theme-font-weight: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--theme-bg-color);

  color: var(--theme-text-color);
  font-family: var(--theme-font-family);
  font-size: var(--theme-font-size);
  font-weight: var(--theme-font-weight);
}

/* Navigation Styles */
.navigation {
  height: 5rem;
  border-bottom: 0.25rem solid var(--theme-primary-color-light);
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 2rem;
  list-style-type: none;

  .navigation-link > a {
    color: var(--theme-primary-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
  }
}

/* Base */
input[type="text"],
select {
  border: 1px solid var(--theme-ash-color-light);
  padding: 1rem 1.5rem;
  outline: none;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  color: var(--theme-text-color);

  &::placeholder {
    font-size: 0.9rem;
    color: var(--theme-ash-color);
  }

  &:focus {
    border: 1px solid var(--theme-primary-color);
  }
}

select {
  appearance: none;
  color: var(--theme-ash-color);
  width: 100%;
  padding-right: 2.5rem;

  & > option {
    color: var(--theme-text-color);
  }
}

/* Container */
.container {
  margin: 0 10rem;
  padding-top: 4rem;
  padding-bottom: 12rem;
}

/* Search and Filter */
.search-and-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    width: 20rem;
  }

  .title-search {
  }

  .genre-dropdown-wrapper {
    position: relative;

    img {
      position: absolute;
      width: auto;
      height: 1.4rem;
      right: 1rem;
      top: calc(50% - 0.1rem);
      transform: translateY(-50%);
      pointer-events: none;
    }

    .genre-dropdown {
    }
  }
}

/* Card */
.book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 2rem;
  margin-top: 2rem;
  justify-items: center;

  .book-card {
    width: 18rem;
    border: 0.25rem solid var(--theme-ash-color-extra-light);
    padding: 2rem;

    .card-image {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center center;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .card-header {
      margin-top: 0.8rem;

      .card-sub-header {
        color: var(--theme-secondary-color);
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div {
          height: 1.2rem;
          width: 1.2rem;

          & > img {
            cursor: pointer;
          }
        }
      }

      .card-main-header {
        font-size: 1rem;
        margin-top: 0.9rem;
        cursor: pointer;
      }
    }

    .card-body {
      margin-top: 0.5rem;
      font-size: 0.8rem;

      .author-names {
        font-weight: 600;
      }

      .genre-name {
        color: var(--theme-text-color-light);
        margin-top: 0.5rem;
        span {
          font-weight: 600;
        }
      }
    }
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 4rem;

  span {
    font-weight: 700;
    color: var(--theme-secondary-color);
  }

  button {
    background-color: var(--theme-secondary-color);
    color: var(--theme-bg-color);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--theme-secondary-color-light);
    }
  }
}

/* Single Book Page */
.single-book {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: var(--theme-ash-color-extra-light);
  overflow: hidden;
  border-radius: 0.5rem;

  .single-book-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .single-book-details {
    padding: 3rem;

    .single-book-id {
      font-size: 2rem;
      font-weight: 900;
      font-style: italic;
    }

    .single-book-title {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 400;
    }

    .single-book-author {
      margin-top: 0.5rem;
      font-size: 0.8rem;

      span {
        color: var(--theme-text-color-light);
        margin-left: 0.2rem;
      }
    }

    .single-book-genres,
    .single-book-bookshelves {
      margin-top: 1.3rem;

      h3 {
        font-weight: 500;
        font-size: 0.9rem;
      }
    }

    .single-book-genres-all,
    .single-book-bookshelves-all {
      margin-top: 0.3rem;
      font-size: 0.9rem;
    }

    .single-book-read-link {
      display: block;
      margin-top: 1.5rem;
      color: var(--theme-primary-color);
      text-decoration: none;
      font-weight: 700;
      font-size: 0.9rem;
    }
  }
}

/* Utils */
.hidden {
  visibility: hidden;
}
.input-disabled {
  background-color: var(--theme-ash-color);
  cursor: not-allowed;
  pointer-events: none;
}
